import http from '@/utils/http'

export interface ${className} {
#foreach($column in $columns)
  ${column.fieldName}: ${column.tsType}
#end
}

export interface PageQuery {
  pageNum: number
  pageSize: number
}

export interface ${className}ListParams {
#foreach($column in $columns)
#if($column.dataType != 'bigint' && $column.dataType != 'int' && $column.dataType != 'integer')
  ${column.fieldName}?: ${column.tsType}
#end
#end
  pageQuery: PageQuery
}

export function list${className}(params: ${className}ListParams) {
  return http({
    url: '/${classNameLower}/list',
    headers: {
      repeatSubmit: false
    },
    method: 'post',
    data: params
  })
}

export function get${className}ById(id: number) {
  return http({
    url: `/${classNameLower}/${id}`,
    method: 'get'
  })
}

export function add${className}(data: Partial<${className}>) {
  return http({
    url: '/${classNameLower}/add',
    method: 'post',
    data
  })
}

export function update${className}(data: Partial<${className}>) {
  return http({
    url: '/${classNameLower}/update',
    method: 'post',
    data
  })
}

export function delete${className}(id: number) {
  return http({
    url: `/${classNameLower}/${id}`,
    method: 'delete'
  })
}
