package ${package}.controller;

import com.example.domain.Response;
import com.example.domain.TableDataInfo;
import ${package}.domain.${className};
import ${package}.domain.req.${className}QueryPageReq;
import ${package}.service.${className}Service;
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.tags.Tag;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

@Tag(name = "${tableComment}")
@RestController
@RequestMapping("/project/${classNameLower}")
public class ${className}Controller {

    @Autowired
    private ${className}Service ${classNameLower}Service;

    @Operation(summary = "分页查询")
    @PostMapping("/list")
    public Response<TableDataInfo<${className}>> list(@RequestBody ${className}QueryPageReq pageReq) {
        TableDataInfo<${className}> tableDataInfo = ${classNameLower}Service.query${className}ListPage(pageReq);
        return Response.success(tableDataInfo);
    }

    @Operation(summary = "根据ID查询")
    @GetMapping("/{id}")
    public Response<${className}> queryById(@PathVariable("id") Long id) {
        ${className} entity = ${classNameLower}Service.queryById(id);
        return Response.success(entity);
    }

    @Operation(summary = "新增")
    @PostMapping("add")
    public Response<?> add${className}(@RequestBody ${className} entity) {
        int result = ${classNameLower}Service.add${className}(entity);
        return Response.success(result);
    }

    @Operation(summary = "修改")
    @PostMapping("update")
    public Response<?> update${className}(@RequestBody ${className} entity) {
        int result = ${classNameLower}Service.update${className}ById(entity);
        return Response.success(result);
    }

    @Operation(summary = "删除")
    @DeleteMapping("/{id}")
    public Response<?> delete(@PathVariable("id") Long id) {
        boolean result = ${classNameLower}Service.removeById(id);
        return Response.success(result);
    }
}
