
package ${package}.domain.req.${classNameLower};

import com.example.domain.PageQuery;
import ${package}.domain.${className};
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
* ${tableComment}分页查询请求对象
*/
@Data
@EqualsAndHashCode(callSuper = true)
public class ${className}QueryPageReq extends ${className} {

    /**
    * 分页参数
    */
    private PageQuery pageQuery;
}