package ${package}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.domain.${className};
import ${package}.domain.TableDataInfo;
import ${package}.domain.req.${className}.${className}QueryPageReq;

public interface ${className}Service extends IService<${className}> {

    TableDataInfo<${className}> query${className}ListPage(${className}QueryPageReq pageReq);

    ${className} queryById(Long id);

    int add${className}(${className} entity);

    int update${className}ById(${className} entity);
}
